
:root {
  --main-blue: #24609b;
}

.bi::before {
  font-weight: 800 !important;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

button:disabled {
  border-color: transparent !important;
}

/* COLOR CLASSES */

.text-indigo {
  color: var(--bs-indigo);
}

/* END OF COLOR CLASSES */

.c-mainBlue {
  color: var(--main-blue);
}

.currentCard {
  flex-flow: column nowrap;
}

.currentCard-temp {
  font-size: calc(5rem + 1.5vw);
}

.card_tmp_detailed {
  background-color: rgba(255,255,255,.4);
}

.fore-days-cnt {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(28rem, 1fr));
  justify-content: space-between;
  gap: 1rem 3rem;
  /* justify-items: center; */
  /* color: red; */
}
/* 
.b-500 {
  font-weight: 500;
}

.b-600 {
  font-weight: 600;
}

.b-700 {
  font-weight: 700;
} */

.hide {
  display: none !important;
}

.main-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

.currentCard {
  background: #d5ebff;
  border-radius: .5rem;
}

.country-row {
  max-width: 50rem;
}


#root {
  overflow-y: scroll;
}

#root > section {
  max-height: 100%;
}

@media screen and (min-width: 62rem) {

}


/* X-Large View */
@media screen and (min-width: 75rem) {
  .currentCard {
    flex-direction: row;
  }
}