
:root {
  --main-blue: #24609b;
}

.bi::before {
  font-weight: 800 !important;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

button:disabled {
  border-color: transparent !important;
}

/* COLOR CLASSES */

.bg_almost_white {
  background-color: #9bd5ff;
}

.text-indigo {
  color: var(--bs-indigo);
}

/* END OF COLOR CLASSES */

.c-mainBlue {
  color: var(--main-blue);
}

.currentCard {
  flex-flow: column nowrap;
}

.currentCard-temp {
  font-size: calc(5rem + 1.5vw);
}

.card_tmp_detailed {
  background-color: rgba(255,255,255,.4);
}

.fore-days-cnt {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem, 1fr));
  justify-content: space-between;
  gap: 1rem 3rem;
  /* justify-items: center; */
  /* color: red; */
}

.card_det {
  background-color: #ecf3f8;
}

.hide {
  display: none !important;
}

.main-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

.currentCard {
  background: #d5ebff;
  border-radius: .5rem;
}

.country-row {
  max-width: 50rem;
}


#root {
  overflow-y: scroll;
}

#root > section {
  max-height: 100%;
}

.details {
  display: grid;
  gap: 1rem;
}

.hourCard {
  background-color: #9bd5ff;
}

.fore_day_card {
  background-color: #add8e6;
}

@media screen and (min-width: 50rem) {

  /* .details {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  } */
}
@media screen and (min-width: 62rem) {
  .fore-days-cnt {
  grid-template-columns: repeat(auto-fit,minmax(28rem, 1fr));
  }

}


/* X-Large View */
@media screen and (min-width: 75rem) {
  .currentCard {
    flex-direction: row;
  }

  .details {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}